force-app/main/default/flows/Add_Edit_Chit_Customers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Edit_Chit_Customers_Apex_Calling</name>
        <label>Add / Edit Chit Customers Apex Calling</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>AddEditMultipleCustFlowHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Edit_Chit_Customers</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cgRecord</name>
            <value>
                <elementReference>getChitGroupRecord</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>exisistingSelectedChitCustomers</assignToReference>
            <name>existingCCIds</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Selected_CC_with_coma_separated</name>
        <label>Add Selected CC with coma separated</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SelectedCCString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_through_Selected_CC_Record_Ids},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_CC_Record_Ids</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Add / Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add / Edit Chit Customers</label>
    <loops>
        <name>Loop_through_Selected_CC_Record_Ids</name>
        <label>Loop through Selected CC Record Ids</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>SelectedChitCustomerId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Selected_CC_with_coma_separated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCGRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getChitGroupRecord</name>
        <label>getChitGroupRecord</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Edit_Chit_Customers_Apex_Calling</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chit_Groups__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCGRecord</name>
        <label>UpdateCGRecord</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Sucess_Message_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Selected_Chit_Customers__c</field>
            <value>
                <elementReference>SelectedCCString</elementReference>
            </value>
        </inputAssignments>
        <object>Chit_Groups__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Edit_Chit_Customers</name>
        <label>Add / Edit Chit Customers</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_Selected_CC_Record_Ids</targetReference>
        </connector>
        <fields>
            <name>ChitCustomerLookUp</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Chit Customer Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Chit_Groups__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>30.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>exisistingSelectedChitCustomers</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedChitCustomerId</assignToReference>
                <name>recordIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Add / Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucess_Message_Screen</name>
        <label>Sucess Message Screen</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DispSucessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: sans-serif; color: rgb(46, 247, 19);&quot;&gt;Chit Members are updated successfully...&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getChitGroupRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>exisistingSelectedChitCustomers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCCString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This collection stores the selected customer record id&apos;s</description>
        <name>SelectedChitCustomerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
